.pytest_cache/
__pycache__/
.mypy_cache/
*.pyc
.reports/
.tmp/
.env
ansible/vars/private.override.yml
ansible/collections/ansible_collections/neilime/*/tests/output/
ansible/vendor-collections/
ansible/collections/ansible_collections/community/
ansible/collections/ansible_collections/community.general-*.info/
.reports-check-ansible
.reports-test
venvs/
.github/linters/.ansible/.lock
