{% set docker_binary = workstation_manager_development_docker_binary.stdout %}
{% set docker_path = (docker_binary | dirname) ~ ':/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin' %}
{% set docker_socket_acl = 'user:' ~ workstation_manager_resolved.user.name ~ ':rw' %}
# Managed by workstation-manager.
[Unit]
Description=Mise-managed Docker Engine
Documentation=https://docs.docker.com/engine/
After=network-online.target nss-lookup.target firewalld.service
Wants=network-online.target
RequiresMountsFor={{ (docker_binary | dirname) | replace('%', '%%') | to_json }}
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
Type=notify
ExecStart={{ docker_binary | replace('%', '%%') | replace('$', '$$') | to_json }}
ExecStartPost=/usr/bin/setfacl --modify {{ docker_socket_acl | replace('%', '%%') | replace('$', '$$') | to_json }} /var/run/docker.sock
Environment={{ ('PATH=' ~ docker_path) | replace('%', '%%') | to_json }}
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStartSec=0
RestartSec=2
Restart=always
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
