[Desktop Entry]
Type=Application
Name=Workstation Manager BleachBit Timer
Comment=Reload and start the weekly BleachBit timer for this session
Exec={{ workstation_manager_resolved.user.home }}/.local/bin/workstation-manager-bleachbit-clean-activate-timer
Terminal=false
X-GNOME-Autostart-enabled=true
